*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    /*своего рода переназначение единицы рем с 16 пх на 10 пх*/
    font-size: 62.5%;   /*браузер по умолчанию имеет размер 16пх, дальше будем работать с ед. изм. рем - этой настройкой сбразываем начальное значение 16*0.625=10*/
    font-weight: normal;
    color: #FFFFFF;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
    font-family: Roboto, sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;     /* родительское значение*/
}

button, input {
    outline: none;      /*убрать рамки*/
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color:#FFFFFF;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav a:not(:last-child) {   /*внутри все элементы кроме последней*/
    margin-left: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    margin-left: 55.3rem; 
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);   
    font-size: 1.6rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
}

.main-display {
    padding-top: 27rem;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);  
    font-size: 1.6rem; 
}

.main-display__header {
    max-width: 76rem; 
    margin-bottom: 6.4rem;
    font-size: 6.4rem;    
}

.main-display__timer {
    display: flex;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7.6rem;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
}