*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    /*своего рода переназначение единицы рем с 16 пх на 10 пх*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: Roboto400, Roboto, sans-serif;
    font-size: 62.5%;   /*браузер по умолчанию имеет размер 16пх, дальше будем работать с ед. изм. рем - этой настройкой сбразываем начальное значение 16*0.625=10*/
    font-weight: normal;
    color: #FFFFFF;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;     /* родительское значение*/
}

button, input {
    outline: none;      /*убрать рамки*/
    border: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

:root {
    --text-size-medium: 1.6rem;
}

.block__center {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color:#FFFFFF;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav a:not(:last-child) {   /*внутри все элементы кроме последней*/
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

.header__button {
    /*margin-left: 55.3rem; */
    margin-left: 3%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);   
    font-size: var(--text-size-medium);
    font-weight: 700;
    line-height: 150%;    
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 22.8rem;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display__button {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);  
    font-size: var(--text-size-medium); 
    font-weight: 400;
    line-height: 150%;    
}

.main-display__header {
    max-width: 76rem; 
    margin-bottom: 5rem;
    font-size: 6.4rem;  
    font-weight: 700;
    line-height: 140%;
}

.main-display__timer {
    display: flex;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin-bottom: 7.6rem;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;    
}

.timer__text {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 140%;    
    opacity: 0.4;
}

.work {
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.6rem;
    padding-top: 6.9rem;
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;       
}

.work__description {

    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;    
}

.process {
    position: relative;
    padding-bottom: 20rem;
}

.process__img {
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.process .process__img {
    transform: rotate(45deg);
}

.process__header {
    padding-top: 1rem;
    margin-bottom: 4.9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;    
}

.process__title {
    display: flex;
}

.process__description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.process__columns {
    display: flex;
}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.process__item {
    max-width: 30.6rem;

}

.process__work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.process__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;    
}

.command__title {
    margin-bottom: 11.9rem;
}

.command__header {
    margin-bottom: 0;
}

.command {
    padding-bottom: 20rem;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 11rem;
    padding-right: 11rem;
}

/* .command__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.command__img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
    border-radius: 50%;
}

.command__name {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;    
}
.command__proffesion {
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.command__link {
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 150%; 
}

.assembly {
    padding-bottom: 24.2rem;
}

/* .assembly__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
} */

.assembly__header {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;   
}

.assempbly__description {
    margin-bottom: 4.52rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.assembly__button{
    margin-bottom: 5.08rem;
    font-weight: 700;
    font-size: var(--text-size-medium);
    line-height: 150%; 
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.assembly__socials {
    display: flex;   
}

.assembly__item {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.assembly__item:not(:last-child){
    margin-right: 3rem;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}

.modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__inner {
    position: relative;
    width: 66.3rem;
    padding: 9rem 1rem;
    background: #2C2C2C;
    text-align: center;
}

.modal__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 1rem;
}

.modal__description {
    margin-bottom: 2.8rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.modal__elements {
    width: 45.4rem;
    margin: 0 auto 3.2rem auto;
}

.modal__item {
    height: 4.4rem; 
}

.modal__input {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: grey;
    border-radius: 5rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8; 
}

.modal__input::-webkit-input-placeholder {color:#fff ; opacity:0.8;}/* webkit */
.modal__input::-moz-placeholder {color:#fff ; opacity:0.8;}/* Firefox 19+ */
.modal__input:-moz-placeholder {color:#fff ; opacity:0.8;}/* Firefox 18- */
.modal__input:-ms-input-placeholder {color:#fff ; opacity:0.8;}/* IE */

.modal__item:not(:last-child){
    margin-bottom: 1.8rem;
}

.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width:5rem;
    height: 5rem;
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
    height: 100%;
}

@font-face {
    font-family: "Roboto400";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto700";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}